.detalhesAnuncio {
    min-height: 64vh;
    margin: 0 auto;
    width: 80%;
    padding-top: 25px;
}

span {
    display: block;
    padding: 10px 0;
}

.anuncio {
    width: 100%;
}

.anuncio .imagem {
    display: inline-block;
    width: 400px;
    height: 300px;
    float: left;
    overflow: hidden;
}

.anuncio .imagem img {
    width: 100%;
    height: 100%;
}

.anuncio .infoAnuncio {
    width: calc(100% - 400px);
    display: inline-block;
    float: left;
    padding-left: 15px;
}

.contato {
    clear:both;
    padding-top: 20px;
}
