*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(252,252,252);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/*Fazendo o cabeçalho ficar responsivo*/

@media screen and (min-width: 705px) {

    #cabecalho {
        width: 80%;
    }
    #slide {
        position: relative;
        animation: mymove 8s forwards;
    }
    @keyframes mymove {
        0% {right: 10vw}
        25%  {right: 0px;}
        75%  {right: 10vw}
        100% {right: 0px;}
    }
    .wrapper:hover #slide {
        transition: 1s;
        left: 0;
    }
}

@media screen and (max-width: 705px) and (min-width: 552px){
    #cabecalho {
        width: 100%;
    }
}

@media screen and (max-width: 551px) {
    #cabecalho {
        width: 100%;
        text-align: center;
    }
}

#tamanhoImg{
    width: 250px;
    height: 80px;
}

#cabecalho {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#cabecalho .logo {
    width: 250px;
    height: 80px;
}

#cabecalho ul {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#cabecalho ul li {
    width: auto;
    display: flex;
}

/* #cabecalho .dropdown {
    margin-right: 15px;
}

#cabecalho .dropdown:hover {
    background-color: #90bf5a;
}

#cabecalho .dropdown:hover .dropdown-content {
    display: block;
    cursor: default;
}

#cabecalho .dropdown:hover .arrow-down {
    border: solid white;
    border-width: 0 3px 3px 0;
}

#cabecalho .dropdown:hover > a {
    color: white;
} */

#cabecalho li:last-child > a {
    margin-right: 10px;
}

#cabecalho li:last-child > a:hover {
    color: #90bf5a;
}

/* Botão Anunciar Vaga */
#cabecalho ul li:first-of-type a {
    border: 2px solid #90bf5a;
    border-radius: 5px;
    padding: 10px 10px;
    color: #90bf5a;
    font-weight: bold;
}

/* Botão Anunciar Vaga */
#cabecalho ul li:first-of-type a:hover {
    border: 2px solid #90bf5a;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #90bf5a;
    color: white;
}


#cabecalho ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px 10px;
}
/*
#cabecalho .dropdown {
    position: relative;
}

#cabecalho .dropdown-content {
    display: none;
    position: absolute;
    width: 300px;
    top: 100%;
    right: calc(50% - 150px);
    padding: 25px 40px 15px 40px;
    background-color: white;
    z-index: 1;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #90bf5a;
}

#cabecalho .dropdown .arrow-down {
    border: solid #90bf5a;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    vertical-align: 15%;
    margin-left: 5px;
}

#cabecalho .dropdown-content .block {
    display: block;
    width: 220px;
    height: 50px;
    margin: 7px 0;
}

#cabecalho .dropdown-content input[type=Email],
#cabecalho .dropdown-content input[type=password] {
    font-size: 16px;
    padding-top: 5px;
    border: 0;
    border-bottom: 1px solid #90bf5a;
    color: rgb(111,124,129);
}

#cabecalho .dropdown-content input[type=submit] {
    background-color: #90bf5a;
    color: white;
    border: 1px solid #90bf5a;
    font-size: 18px;
    border-radius: 5px;
    transition: transform .2s;
}

#cabecalho .dropdown-content input[type=submit]:hover {
    transform: scale(0.9);
    cursor: pointer;
}

#cabecalho .dropdown-content .checkbox {
    height: auto;
    padding: 7px 0;
}

#cabecalho .dropdown-content .checkbox input {
    margin-right: 5px;
}

#cabecalho .dropdown-content input[type=password]::placeholder,
#cabecalho .dropdown-content input[type=Email]::placeholder {
    color: rgb(111,124,129);
}

#cabecalho .dropdown-content input[type=password]:focus,
#cabecalho .dropdown-content input[type=Email]:focus {
    outline: none;
}

#cabecalho .dropdown-content .forgot-password {
    text-align: right;
    height: auto;
    margin-top: 9px;
}

#cabecalho .dropdown-content .forgot-password > a {
    color: rgb(111,124,129);
    font-size: 16px;
    text-decoration: none;
}

#cabecalho .dropdown-content label {
    color: rgb(111,124,129);
} */
