*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(252,252,252);
}

#cabecalho {
    width: 80%;
    height: 80px;
    margin: auto;
}

#cabecalho .logo {
    width: 250px;
    height: 80px;
    display: inline-block;
    float: left;
}

#cabecalho ul {
    height: inherit;
}

#cabecalho ul li {
    display: inline-block;
    float: right;
    width: auto;
    height: inherit;
    padding: 15px 15px;
}

#cabecalho a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    position: relative;
    top: 10px;
}

#cabecalho ul li:nth-child(1) a {
    border: 2px solid #90bf5a;
    border-radius: 5px;
    padding: 10px 10px;
    color: #90bf5a;
    font-weight: bold;
}

#cabecalho ul li:nth-child(1) a:hover {
    border: 2px solid #90bf5a;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #90bf5a;
    color: white;
}

#cabecalho ul li:nth-child(2) a:hover {
    border-bottom: 2px solid #90bf5a;
}

#ImagemPrincipal{
    width: 100%;
    height: 650px;
    position: relative;
}

#ImagemPrincipal::after{
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /* background-image: url(../images/ImagemPrincipal.png); */
    background-image: url(../images/fundo1.png);
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-position: center;
    opacity: 0.85;
    z-index: -1;

}

#ConteudoImagem {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

#ConteudoImagem h1{
    color: #444444;
    font-weight: 600;
}

#ConteudoImagem h3{
    color: #444444;
    margin-top: 10px;
}

#divBusca form {
    display: inline-block;
    margin: auto;
    margin-top: 55px;
    border-width: 6px;
    border-style: solid;
    border-color: rgba(100, 100, 100, 0.4);
    border-radius: 10px;
}

#divBusca input[type=text]{
    width: 600px;
    height: 50px;
    display: inline-block;
    float: left;
    border-radius: 5px 0 0 5px;
    margin: 0;
    border-right: 0;
    padding: 10px 10px;
    outline: 0;
    border: 0;
    font-size: 15px;
}

#divBusca input[type=submit]{
    height: 50px;
    margin: auto;
    display: inline-block;
    float: right;
    border-radius: 0 5px 5px 0;
    margin: 0;
    padding: 10px 20px;
    background-color: #ff3c0c;
    color: white;
    border: 2px solid #ff3c0c;
    font-size: 15px;
}

#divBusca input[type=submit]:hover {
    background-color: #f7360b;
    border: 2px solid #f7360b;
    cursor: pointer;
}



#SecaoCategorias {
    width: 100%;
    padding: 30px 0;
}

#SecaoCategorias .container {
    width: 80%;
    margin: auto;
    padding: 30px 0;
    /* background-color: rgb(200,200,200); */
}

#SecaoCategorias .linha{
    width: 100%;
    display: inline-block;
}

#SecaoCategorias .item{
    width: 140px;
    height: 140px;
    display: inline-block;
    text-align: center;
    margin: 20px 0px;
    float: left;
}

#SecaoCategorias .item:hover{
    background-color: #90bf5a;
}

#SecaoCategorias .item a{
    text-decoration: none;
    display: inline-block;
    /* height: 90px; */
    margin-top: 25px;
    color: black;
    text-align: center;
}

#SecaoCategorias .item span{
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #f1f3f4;
    margin: auto;
}

#SecaoCategorias .item span img{
    width: 32px;
    height: 32px;
}

.Item{
    float: left;
    font-family: Verdana, sans-serif;
    border: solid 1px #ccc;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.3);
    height: 300px;
    width: 260px;
    margin: 5px 20px;
    padding: 5px;
}
.Item img{
    width: 100%;
    max-height: 50%;

}
.Item-info{
    padding: 10px;
    height: 90px;
    overflow: hidden;
}
.Item-info h4{
    font-size: 1.4em;
    font-weight: 100;
    margin: 0px;
}
.Item-preco{
    float: right;
    padding: 3px;
}
.preco-de{
    text-decoration: line-through;
    color: black;
}
.preco-por{
    color: Black;
    font-weight: bold;
    font-size: 1.0em;
}

.PagItem{
    float: left;
    font-family: Verdana, sans-serif;
    border: solid 1px #ccc;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.3);
    height: 700px;
    width: 500px;
    margin: 5px 20px;
    padding: 5px;
}

.PagItem img{
    width: 100%;
    max-height: 50%;
}

#rodape {
    width: 100%;
    height: 250px;
    background-color: #f5f5f5;
}

#rodape .container{
    width: 80%;
    margin: auto;
}

#rodape .co{
    height: 200px;
    padding-top: 50px;
}
#rodape .ca {
    height: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

#rodape .bloco{
    width: 33.3%;
    display: inline-block;
    float: left;
    background-color: #f5f5f5;
    text-align: left;
}

#rodape ul{
    padding-top: 20px;
}

#rodape li{
    list-style-type: none;
}

#rodape .socialIcon {
    display: inline-block;
}

#rodape a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

#rodape .newsletter {
    padding-top: 20px;
}

#rodape .newsletter input[type=text] {
    width: 78%;
    padding: 10px;
}

#rodape .newsletter input[type=submit] {
    width: 20%;
    padding: 10px;
}

/*Código dos ícones das redes sociais */

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
    background: #bb0002;
    color: white;
}

.fa-instagram {
    background-color: #135486;
    color: white;
}

/*Slide 1, logo*/
#slide {
    position: absolute;
    left: -250px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
.wrapper:hover #slide {
    transition: 1s;
    left: 0;
}
#tamanhoImg{
    width: 250px;
    height: 80px;
}