#ImagemPrincipal{
    width: 100%;
    height: 650px;
    position: relative;
}

#ImagemPrincipal::after{
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url(../imagens/ImagemPrincipal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.85;
    z-index: -1;
}

#ConteudoImagem {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

#ConteudoImagem h1{
    color: #444444;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#ConteudoImagem h3{
    color: #444444;
    margin-top: 10px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

@media screen and (min-width: 1130px) {
    #ConteudoImagem h1{
        font-size: calc(51px + 1vw);
    }
    #ConteudoImagem h3 {
        font-size: calc(11px + 1vw);
    }
}

@media screen and (min-width: 970px) and (max-width: 1130px) {
    #ConteudoImagem h1{
        font-size: calc(45px + 0.8vw);
    }
    #ConteudoImagem h3 {
        font-size: calc(10px + 1vw);
    }
}

@media screen and (max-width: 970px) {
    #ConteudoImagem h1{
        font-size: calc(36px + 1vw);
    }
    #ConteudoImagem h3 {
        font-size: 18px;
    }
}

#divBusca {
    max-width: 700px;
    margin: auto;
}

#divBusca form {
    margin-top: 55px;
    border-width: 6px;
    border-style: solid;
    border-color: rgba(100, 100, 100, 0.4);
    border-radius: 10px;
    background-color: white;
}

#txtBusca {
    display: inline-block;
}

@media screen and (min-width: 758px) {
    #txtBusca {
        width: 82%;
    }
    #divBusca input[type=submit] {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 758px) {
    #txtBusca {
        width: calc(100% - 100px);
    }
    #divBusca input[type=submit] {
        padding: 10px;
    }
}

@media screen and (max-width: 450px) {
    #divBusca input[type=submit] {
        padding: 10px 0;
    }
}

#Pesquisar {
    width: 17%;
    min-width: 95px;
    display: inline-block;
    float: right;
}


#divBusca input[type=text]{
    display: block;
    width: 100%;
    height: 50px;
    /* min-width: 116px; */
    height: 50px;
    border-radius: 5px 0 0 5px;
    margin: 0;
    border-right: 0;
    padding: 10px 10px;
    outline: 0;
    border: 0;
    font-size: 15px;
}

#divBusca input[type=submit]{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 0 5px 5px 0;
    /* margin: 0; */
    /* padding: 10px 20px; */
    background-color: #ff3c0c;
    color: white;
    border: 2px solid #ff3c0c;
    font-size: 15px;
}

#divBusca input[type=submit]:hover {
    background-color: #f7360b;
    border: 2px solid #f7360b;
    cursor: pointer;
}



#SecaoCategorias {
    width: 100%;
    padding: 30px 0;
}

#SecaoCategorias .container {
    width: 80%;
    margin: auto;
    padding: 30px 0;
}

#SecaoCategorias .linha{
    width: 100%;
    display: inline-block;
    text-align: center;
}

#SecaoCategorias .item{
    width: 140px;
    height: 140px;
    display: inline-block;
    text-align: center;
    margin: 20px 0;
    /* float: left; */
    transition: transform .2s;
}

#SecaoCategorias .item:hover{
    background-color: #5ac761;
    transform: scale(1.1);
}

#SecaoCategorias .item a {
    width: inherit;
    height: inherit;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding-top: 26px;

}

#SecaoCategorias .item span{
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #f1f3f4;
    margin: auto;
    margin-bottom: 5px;
}

#SecaoCategorias .item small {
    display: block;
}


#SecaoCategorias .item span img{
    width: 32px;
    height: 32px;
}


#divTexto {
    display: block;
    width: 80%;
    margin: 30px auto;
}

#divTexto h3{
    text-align: center;
}
#divTexto p{
    padding: 30px 10px;
}




/* --------------------------------------- Slide 2 fotos */
.slidershow {
    display: block;
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 450px;
    height: 300px;
}

.navigation {
    position: absolute;
    top: 75%;
    left: calc(50% - 105px);
    display: flex;
}

.bar {
    width: 30px;
    height: 10px;
    border: 2px solid #313133;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    z-index: 2;
}

.bar:hover {
    background: rgb(85, 87, 85);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 1.0s;

}

.slide img {
    /* Distância de visão da imagem */
    width: 450px;
    height: 220px;
}

#r1:checked~.s1 {
    margin-left: 0%;
}

#r2:checked~.s1 {
    margin-left: -20%;
}

#r3:checked~.s1 {
    margin-left: -40%;
}

#r4:checked~.s1 {
    margin-left: -60%;
}

#r5:checked~.s1 {
    margin-left: -80%;
}
