.Item{
    float: left;
    font-family: Verdana, sans-serif;
    border: solid 1px #ccc;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.3);
    height: 300px;
    width: 260px;
    margin: 5px 20px;
    padding: 5px;
}
.Item img{
    width: 100%;
    max-height: 50%;

}
.Item-info{
    padding: 10px;
    height: 90px;
    overflow: hidden;
}
.Item-info h4{
    font-size: 1.4em;
    font-weight: 100;
    margin: 0px;
}
.Item-preco{
    float: right;
    padding: 3px;
}
.preco-de{
    text-decoration: line-through;
    color: black;
}
.preco-por{
    color: Black;
    font-weight: bold;
    font-size: 1.0em;
}

.PagItem{
    float: left;
    font-family: Verdana, sans-serif;
    border: solid 1px #ccc;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.3);
    height: 700px;
    width: 500px;
    margin: 5px 20px;
    padding: 5px;
}

.PagItem img{
    width: 100%;
    max-height: 50%;

}
#buttonHome{
    position: absolute;
    top: 0px;
    left: 0px;
}
#titulo{
    width: 100%;
    height: 44px;
    padding: 5px;
    border: solid 2px black;
    text-align: center;
    font-size: 40px;
    background-color: Silver;
}
.button {
    background-color: black; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    }

    .button1 {
    background-color:Silver; 
    color: black; 
    border: 2px solid #4CAF50;
    }

    .button1:hover {
    background-color: #4CAF50;
    color: white;
    }
    #body{
        margin: 0%;
    }
    #buttonRet{
        position: absolute;
        top: 0px;
        right: 0px;
    }